<mat-toolbar color="primary" class="toolbar toolbar--top">
  <mat-toolbar-row>

    <button mat-button (click)="emitButtonClicked()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar__title">Lets do Angular Again</span>

    <div class="toolbar__spacer"></div>

    <button mat-icon-button (click)="loginClicked()"n>
      <mat-icon>person</mat-icon>
    </button>

    <button mat-icon-button (click)="logoutClicked()"n>
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>