<mat-drawer-container class="side-nav-drawer-container">
    <mat-drawer class="side-nav-drawer" #sideNav>
        <ng-container>
            <mat-nav-list>
                <mat-list-item>
                <a mat-list-item class="side-nav-link" [routerLink]="['/poc-event-driven/contacts']" (click)="toggleSidenav()">
                  <mat-icon mat-list-icon>account_balance</mat-icon>
                  <span class="title" mat-line>POC</span>
                  <span mat-line class="secondary">Event Driven</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item class="side-nav-link" [routerLink]="['/poc-event-driven/contacts']" (click)="toggleSidenav()">
                  <mat-icon mat-list-icon>android</mat-icon>
                  <span class="title" mat-line>comp2</span>
                  <span mat-line class="secondary">test</span>
                </a>
            </mat-list-item>
              </mat-nav-list>
        </ng-container>
    </mat-drawer>

    <mat-drawer-content class="side-nav-drawer-content">
        <ng-content>
        </ng-content>

        <footer>
        </footer>
    </mat-drawer-content>
</mat-drawer-container>